.collection {
  padding: 0 !important;

  .banner {
    height: 35rem !important;
    width: 100%;
    filter: blur(3px);
  }
  .textBox {
    position: absolute;
    top: 15rem;
    width: 100%;

    p {
      font-size: 5rem;
      color: var(--whitecolor);
      font-weight: 500;
      // font-family:"ubuntu";
      text-align: center;
      text-shadow: var(--text-shadow);
      // width: 6rem;
      letter-spacing: 2px;
    }
  }

.tripsContainer{
    display: flex;
    justify-content: center;
    .trips{
        background-color: var(--whitecolor);
        width: 85%;
        min-height: 10rem;
        height: auto;


    }
}

}

@media screen and (max-width: 950px) {
  .collection {
    .banner {
      height: 30rem !important;
    }
    .textBox {
      top: 15rem;
      p {
        font-size: 3.5rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .collection {
    .banner {
      height: 22rem !important;
    }
    .textBox {
      top: 10rem;
      p {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .collection {
    .banner {
      height: 18rem !important;
    }
    .textBox {
      top: 8rem;
      p {
        font-size: 2.5rem;
      }
    }
  }
}
