
.footer{

    background: var(--greyBg);
    padding-top:  1rem ;

    .secContainer{
        gap:1.5rem;
        text-align:center;
        .footerLogo{
            padding-bottom: 0.5rem;
            .logo{
                color:var(--blackcolor);
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;

                .icon{
                    font-size: 25px;
                    color:var(--primarycolor);
                    margin-right: 0.5rem;
                }

            }


          

        }

        .socials{
                gap:0.5rem;
                margin:auto;
                justify-content: center;
                .icon{
                    font-size: 30px;
                    background: var(--primarycolor);
                    border-radius: 50% ;
                    padding:8px;
                    color: var(--whitecolor);
                    &:hover{
                        background: var(--blackcolor);
                    }
                }
        }
        .footerLinks{
            display: grid;
            row-gap: 0.2rem;
            .linkTitle{
                padding-bottom: 0.5rem;
                color: var(--blackcolor);
                font-weight: 700;
                
            }

            li{
                &:hover{
                    transform: translateX(10px);
                    a{
                        color:var(--primarycolor);
                    }
                }
            }
            a, .phone , .email{
                color:var(--textcolor);
                font-size: 13px;
                font-weight: 500;
            }
        }


    }


  }



@media screen and (min-width:440px)
{
  .footer

{

  .secContainer{
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    align-items: flex-start;
    .footerLinks{
      justify-content: center;
    }
  }
}
}



@media screen and (min-width:640px)
{
  .footer

  {
  .secContainer{
    grid-template-columns: repeat(4,1fr);
  }
}
}



@media screen and (min-width:900px)
{
  .footer

  {
  .secContainer{
    padding: 2rem;
    
  }
}
}
