// :root {
//   --primarycolor: hsl(26, 93%, 50%);
//   --Hovercolor: hsl(26, 90%, 42%);
//   --whitecolor: hsl(0, 0%, 100%);
//   --blackcolor: hsl(0, 0%, 18%);
//   --textcolor: hsl(240, 1%, 48%);
//   --whitecolorDeam: hsl(0, 0%, 93%);
//   --greyBg: hsl(0, 0%, 96%);
//   --greyText: rgb(190, 190, 190);
//   --inputcolor: hsl(330, 12%, 97%);
// }

.popular {
  // padding-top: 5rem 2rem!important;

  .secContainer {
    .secHeader {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .textDiv {
        .secTitle {
          color: var(--blackcolor);
          line-height: 1.5rem;
          padding-bottom: 0.5rem;
          align-items: center;
        }
        p {
          font-size: 13px;
          color: var(--textcolor);
          font-weight: 500;
          margin-top: 1rem;
        }
      }

      .iconDiv {
        gap: 0.5rem;
        .icon {
          padding: 0.5rem;
          background: var(--greyText);
          border-radius: 50%;
          font-size: 2.5rem;
          &:hover {
            background: var(--blackcolor);
            column-rule: var(--whitecolor);
          }
        }

        .leftIcon {
          background: var(--blackcolor);
          color: var(--whitecolor);
          &:hover {
            background: var(--greyText);
            color: var(--blackcolor);
          }
        }
      }
    }

    .mainContent {
      padding-top: 2rem ;
      gap: 1rem;
      
      .slick-slide{
        // padding: 1rem;
      }

   
    }
  }
}
 



@media screen and (min-width: 1024px) {
  .popular {
    padding-top: 12rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 80%;
    .secContainer {
      .secHeader {
        .textDiv {
          .secTitle {
            font-size: 1.5rem;
          }
          p {
            font-size: 15px;
          }
        }
      }
      .mainContent {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .popular {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 556px) {
  .popular {
    .secContainer {
      .secHeader {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        .textDiv {
          text-align: start;
          max-width: 70%;
        }
        .iconDiv {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .popular {
    padding-top: 10rem;
  }
}


@media screen and (max-width: 480px) {
  .popular {
    padding-top:6rem;
  }
}
